.sigCanvas {
  width : 500px;
  height : 200px;
  border : 1px solid black;
}

.SignatureButtons {
  display : flex;
  width : 500px;
  height : 50px;
  justify-content: space-evenly;
}

.SignaturePopUp {
  width : 700px;
  height : 300px;
  margin : 0 auto;
}

.SignatureVerifyArea {
  position : relative;
  width : 300px;
  height : 200px;
}

.SignatureLocation {
  display: flex; /* 정확하게 뭔지 알아볼 것 */
  position : absolute;
  width : 60px;
  height : 40px;
  font-size : 0.6em;
  align-items: center;
  justify-content: center;
}

.SignaturePaste {
  position : absolute;
  width : 60px;
  height : 40px;
}